<div class="card text-white w-20 bg-dark">
  <div class="card-body">
    <h5 class="card-title">Cursos Online.</h5>
    <p class="card-text">ING. Ivan Eduardo Garcia Quintero.</p>
    <p class="card-text">Desarrollo de Aplicaciones Web.</p>
    <p class="card-text">9"A"</p>
    <div class="card-group">
      <div class="card text-white bg-secondary mb-3">
        <img src="../assets/img/heldai.JPG" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Libni Heldai Mendoza Paleta.</h5>
          <p class="card-text">Ingenieria.Tecnologias de la Informacion y Comunicacion.</p>
        </div>
      </div>
    </div>
  </div>
</div>
