<br>

<div class="card text-white w-100 bg-dark">
    <div class="card-body">
      <h5 class="card-title">Perfil Usuario.</h5>
      <div class="card-group">
        <div class="card text-white bg-secondary mb-3">
          <img src="../assets/img/perfil.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Datos.</h5>
            <p class="card-text">Nombre Completo: </p>
            <p class="card-text">Edad: </p>
            <p class="card-text">Correo Electronico: </p>


            <h5 class="card-title">Cursos Comprados.</h5>
          </div>
        </div>
    </div>
    </div>
</div>