<br>
<div class="card text-white w-100 bg-dark">
    <div class="card-body">
      <h5 class="card-title">Marketing.</h5>
      <div class="card-group">
        <div class="card text-white bg-secondary mb-3">
          <img src="../assets/img/M1.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Estrategia de comunicación para redes sociales.</h5>
            <p class="card-text">Aprende a diseñar el Social Media Plan de tu marca.</p>
            <p>Un curso de Núria Mañé.</p>
            <p>Idioma Español</p>
            <h5 class="card-title">MX$ 189.</h5>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Comprar</button>
          </div>
        </div>
        <div class="card text-white bg-secondary mb-3">
          <img src="../assets/img/M2.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Lanzamiento de tu primer negocio online.</h5>
            <p class="card-text">Identifica una buena idea, aprende a sacarla adelante y da el paso: lanza tu negocio.</p>
            <p>Un curso de Foncho Ramírez-Corzo.</p>
            <p>Idioma Español</p>
            <h5 class="card-title">MX$ 189.</h5>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Comprar</button>
          </div>
        </div>
        <div class="card text-white bg-secondary mb-3">
          <img src="../assets/img/M3.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Principios básicos de SEO.</h5>
            <p class="card-text">Aprende las claves del posicionamiento orgánico para mejorar tu presencia en buscadores y optimizar tus contenidos.</p>
            <p>Un curso de Natzir Turrado.</p>
            <p>Idioma Español</p>
            <h5 class="card-title">MX$ 189.</h5>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Comprar</button>
          </div>
        </div>
      </div>
    </div>
</div>

<br>
<div class="card text-white w-100 bg-dark">
    <div class="card-body">
      <div class="card-group">
        <div class="card text-white bg-secondary mb-3">
          <img src="../assets/img/M4.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Introducción a Instagram Business.</h5>
            <p class="card-text">Aprende a utilizar las herramientas de Instagram para vender tu marca de manera profesional.</p>
            <p>Un curso de Juanmi Díez.</p>
            <p>Idioma Español</p>
            <h5 class="card-title">MX$ 189.</h5>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Comprar</button>
          </div>
        </div>
        <div class="card text-white bg-secondary mb-3">
          <img src="../assets/img/M5.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Visual Storytelling para tu marca personal en Instagram.</h5>
            <p class="card-text">Desarrolla una estrategia visual para crear una narrativa que atraiga y conecte.</p>
            <p>Un curso de Marioly Vázquez.</p>
            <p>Idioma Español</p>
            <h5 class="card-title">MX$ 189.</h5>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Comprar</button>
          </div>
        </div>
        <div class="card text-white bg-secondary mb-3">
          <img src="../assets/img/M6.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Introducción a las redes sociales para emprendedores creativos.</h5>
            <p class="card-text">Explora herramientas y técnicas para posicionar tu negocio y vender mejor tu trabajo.</p>
            <p>Un curso de Pamela Barrón Cobo.</p>
            <p>Idioma Español</p>
            <h5 class="card-title">MX$ 229.</h5>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Comprar</button>
          </div>
        </div>
      </div>
    </div>
</div>


<br>
<div class="card text-white w-100 bg-dark">
    <div class="card-body">
      <div class="card-group">
        <div class="card text-white bg-secondary mb-3">
          <img src="../assets/img/M7.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Modelos de negocio para creadores y creativos.</h5>
            <p class="card-text">Aprende a desarrollar e implementar tu visión de negocio para tener más oportunidades de éxito.</p>
            <p>Un curso de Mònica Rodríguez Limia.</p>
            <p>Idioma Español</p>
            <h5 class="card-title">MX$ 229.</h5>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Comprar</button>
          </div>
        </div>
        <div class="card text-white bg-secondary mb-3">
          <img src="../assets/img/M8.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Instagram: concursos, sorteos y otras acciones tácticas.</h5>
            <p class="card-text">Alcanza tus objetivos en IG mediante una estrategia eficaz.</p>
            <p>Un curso de Núria Mañé.</p>
            <p>Idioma Español</p>
            <h5 class="card-title">MX$ 359.</h5>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Comprar</button>
          </div>
        </div>
        <div class="card text-white bg-secondary mb-3">
          <img src="../assets/img/M9.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Storytelling audiovisual para redes sociales.</h5>
            <p class="card-text">Iníciate en las nuevas narrativas audiovisuales para contar historias con éxito en redes sociales.</p>
            <p>Un curso de Josune Imízcoz.</p>
            <p>Idioma Español</p>
            <h5 class="card-title">MX$ 189.</h5>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Comprar</button>
          </div>
        </div>
      </div>
    </div>
</div>

<br>
<div class="card text-white w-100 bg-dark">
    <div class="card-body">
      <div class="card-group">
        <div class="card text-white bg-secondary mb-3">
          <img src="../assets/img/M10.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Introducción a Facebook Marketing.</h5>
            <p class="card-text">Aprende los principios básicos de Facebook Business Manager y crea tu primera campaña.</p>
            <p>Un curso de Francesco Orlandino.</p>
            <p>Idioma Español</p>
            <h5 class="card-title">MX$ 229.</h5>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Comprar</button>
          </div>
        </div>
        <div class="card text-white bg-secondary mb-3">
          <img src="../assets/img/M11.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Conceptos básicos del Inbound Marketing.</h5>
            <p class="card-text">Aprende la metodología para crear una estrategia de contenidos que conecte con tu audiencia.</p>
            <p>Un curso de Lucas García.</p>
            <p>Idioma Español</p>
            <h5 class="card-title">MX$ 229.</h5>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Comprar</button>
          </div>
        </div>
        <div class="card text-white bg-secondary mb-3">
          <img src="../assets/img/M12.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Creación de membership sites con WordPress.</h5>
            <p class="card-text">Aprende a crear una web para tus suscriptores de forma sencilla.</p>
            <p>Un curso de Joan Boluda.</p>
            <p>Idioma Español</p>
            <h5 class="card-title">MX$ 189.</h5>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Comprar</button>
          </div>
        </div>
      </div>
    </div>
</div>