<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
      <h2 class="active"> Iniciar Sesion </h2>
      <h2 class="inactive underlineHover">Registrarse</h2>
      <!-- Icon -->
      <!-- Login Form -->
      <form >
        <input type="text" id="login" class="fadeIn second" name="login" placeholder="Usuario">
        <br>
        <br>
        <input type="text" id="password" class="fadeIn third" name="login" placeholder="contraseña">
        <br>
        <br>
        <button href='https://es.stackoverflow.com' class='btn btn-success' value="">INGRESAR</button>
      </form>

      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a class="underlineHover" href="#">Olvidaste tu contraseña</a>
      </div>
    </div>
</div>