<br>
<br>
<div class="card text-white w-100 bg-dark">
    <div class="card-body">
      <h5 class="card-title">Cursos Online.</h5>
      <p>En esta plataforma podras aprender desde la comodidad de tu casa de una manera facil y rapida pues contamos con los mejores ponentes para impartir los cursos.</p>
      <p>Contamos con Cursos sobre:</p>
      <p> ‣ Marketing.</p>
      <p> ‣ Fotografia y Video.</p>
      <p> ‣ Diseño.</p>
      <p> ‣ 3D y Animacion.</p>

      <div class="card-group">
        <div class="card text-white bg-secondary mb-3">
          <img src="../assets/img/Marketing.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">¿Porque tomar un curso de Marketing?.</h5>
            <p class="card-text">El Marketing es un proceso que se encuentra presente en todas las actividades que requieren la inserción de un producto en el mercado. Por lo tanto, cualquier emprendimiento, empresa o negocio necesitará de las herramientas que ofrece esta disciplina para lograr sus objetivos y posicionar aquello que comercializa.</p>
          </div>
        </div>
        <div class="card text-white bg-secondary mb-3">
          <img src="../assets/img/Fotografia.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">¿Porque tomar un curso de Fotografia y Video?.</h5>
            <p class="card-text">La revolución digital ha hecho posible que las personas con talento experimenten con sus tomas y desarrollen su habilidad. Pero también ha generado una gran competencia. Si quieres llegar a ser un fotógrafo profesional, debes distinguirte de los demás y esto lo lograrás solamente con estudio y práctica..</p>
          </div>
        </div>
        <div class="card text-white bg-secondary mb-3">
          <img src="../assets/img/Diseño.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">¿Porque tomar un curso de Diseño?</h5>
            <p class="card-text">Diseñar no es igual a hacer arte: Un diseñador no crea de manera libre, como lo hace un artista. Los diseñadores estamos sujetos a los que nos diga el cliente, sus deseos y el menaje que quieren dar..</p>
          </div>
        </div>
        <div class="card text-white bg-secondary mb-3">
          <img src="../assets/img/3D.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">¿Porque estudiar 3D y Animacion?</h5>
            <p class="card-text">Entrenador de marketing.</p>
          </div>
        </div>
      </div>
    </div>
  </div>