<br>
<br>
<div class="card text-white w-100 bg-dark">
    <div class="card-body">
      <h5 class="card-title">Cursos Online.</h5>
      <p>En esta plataforma podras aprender desde la comodidad de tu casa de una manera facil y rapida pues contamos con los mejores ponentes para impartir los cursos.</p>
      <p>Contamos con Cursos sobre:</p>
      <p> ‣ Marketing.</p>
      <p> ‣ Fotografia.</p>
      <p> ‣ Diseño.</p>
      <p> ‣ 3D y Animacion.</p>

      <div class="card-group">
        <div class="card text-white bg-secondary mb-3">
          <img src="../assets/img/Marketing.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">¿Porque tomar un curso de Marketing?.</h5>
            <p class="card-text">El Marketing es un proceso que se encuentra presente en todas las actividades que requieren la inserción de un producto en el mercado. Por lo tanto, cualquier emprendimiento, empresa o negocio necesitará de las herramientas que ofrece esta disciplina para lograr sus objetivos y posicionar aquello que comercializa.</p>
          </div>
        </div>
        <div class="card text-white bg-secondary mb-3">
          <img src="../assets/img/Fotografia.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">¿Porque tomar un curso de Fotografia?.</h5>
            <p class="card-text">La revolución digital ha hecho posible que las personas con talento experimenten con sus tomas y desarrollen su habilidad. Pero también ha generado una gran competencia. Si quieres llegar a ser un fotógrafo profesional, debes distinguirte de los demás y esto lo lograrás solamente con estudio y práctica..</p>
          </div>
        </div>
        <div class="card text-white bg-secondary mb-3">
          <img src="../assets/img/Diseño.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">¿Porque tomar un curso de Diseño?</h5>
            <p class="card-text">Diseñar no es igual a hacer arte: Un diseñador no crea de manera libre, como lo hace un artista. Los diseñadores estamos sujetos a los que nos diga el cliente, sus deseos y el menaje que quieren dar..</p>
          </div>
        </div>
        <div class="card text-white bg-secondary mb-3">
          <img src="../assets/img/3D.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">¿Porque estudiar 3D y Animacion?</h5>
            <p class="card-text">Animación 3D busca desarrollar competencias para crear e integrar imagen y sonido para una producción digital, realizar proyectos integrales de animación en tercera dimensión (3D), de efectos especiales y de postproducción para la creación de productos audiovisuales mediante el uso de tecnologías digitales modernas de diseño, modelado y creación de imágenes logrando la ilusión del movimiento.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br>
  <br>
  <div class="card text-white w-100 bg-dark">
    <div class="card-body">
      <h5 class="card-title">Mas Populares.</h5>
      <h5 class="card-title">Marketing.</h5>
      <div class="card-group">
        <div class="card text-white bg-secondary mb-3">
          <img src="../assets/img/1.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Introduccion al community management.</h5>
            <p class="card-text">Aprende a trabajar como community manager y construye, gestiona y administra una comunidad en redes sociales.</p>
            <p>Un curso de Ana Marin.</p>
            <h5 class="card-title">MX$ 209.</h5>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Comprar</button>
          </div>
        </div>
        <div class="card text-white bg-secondary mb-3">
          <img src="../assets/img/2.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Creacion y edicion de contenido para Instagram Stories.</h5>
            <p class="card-text">Descubre los secretos de fotografía y vídeo para triunfar en Instagram.</p>
            <p>Un curso de Mina Barrio.</p>
            <h5 class="card-title">MX$ 209.</h5>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Comprar</button>
          </div>
        </div>
        <div class="card text-white bg-secondary mb-3">
          <img src="../assets/img/3.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Estrategias de Instagram para desarrollo de marcas</h5>
            <p class="card-text">Aprende un método probado para dar a conocer tu marca y construir relaciones significativas con tu audiencia.</p>
            <p>Un curso de Dot Lung.</p>
            <p>Idioma Ingles</p>
            <h5 class="card-title">MX$ 209.</h5>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Comprar</button>
          </div>
        </div>
        <div class="card text-white bg-secondary mb-3">
          <img src="../assets/img/4.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Estrategia de marca en Instagram.</h5>
            <p class="card-text">Impulsa la imagen de tu marca a través de contenidos y herramientas que generen resultados.</p>
            <p>Un curso de Julieta Tello.</p>
            <p>Idioma Español</p>
            <h5 class="card-title">MX$ 209.</h5>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Comprar</button>
          </div>
        </div>
        <div class="card text-white bg-secondary mb-3">
          <img src="../assets/img/5.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Google Ads y Facebook Ads desde cero</h5>
            <p class="card-text">Aprende a crear campañas en Google y Facebook para potenciar tu marca o negocio.</p>
            <p>Un curso de Arantxa & Guille.</p>
            <p>Idioma Español</p>
            <h5 class="card-title">MX$ 209.</h5>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Comprar</button>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="card text-white w-100 bg-dark">
    <div class="card-body">
      <h5 class="card-title">Fotografia.</h5>
      <div class="card-group">
        <div class="card text-white bg-secondary mb-3">
          <img src="../assets/img/6.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Fotografía y vídeo profesional con tu móvil.</h5>
            <p class="card-text">Aprende las técnicas para crear desde tu smartphone contenidos de calidad para Instagram.</p>
            <p>Un curso de Nay Jiménez.</p>
            <p>Idioma Español</p>
            <h5 class="card-title">MX$ 189.</h5>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Comprar</button>
          </div>
        </div>
        <div class="card text-white bg-secondary mb-3">
          <img src="../assets/img/7.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Introducción a Adobe Premiere Pro.</h5>
            <p class="card-text">Aprende Adobe Premiere Pro sin conocimientos previos y domina uno de los mejores software de edición de vídeo para películas, TV y la web.</p>
            <p>Un curso de  Juanmi Cristóbal.</p>
            <p>Idioma Español</p>
            <h5 class="card-title">MX$ 189.</h5>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Comprar</button>
          </div>
        </div>
        <div class="card text-white bg-secondary mb-3">
          <img src="../assets/img/8.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Introducción a la fotografía narrativa.</h5>
            <p class="card-text">Aprende los recursos para poder contar una historia a través de imágenes.</p>
            <p>Un curso de Dara Scully.</p>
            <p>Idioma Español</p>
            <h5 class="card-title">MX$ 189.</h5>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Comprar</button>
          </div>
        </div>
        <div class="card text-white bg-secondary mb-3">
          <img src="../assets/img/9.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Filmación con drones para proyectos audiovisuales.</h5>
            <p class="card-text">Consigue planos imposibles utilizando un dron como tu nueva herramienta audiovisual.</p>
            <p>Un curso de Yeray Martín Perdomo.</p>
            <p>Idioma Español</p>
            <h5 class="card-title">MX$ 229.</h5>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Comprar</button>
          </div>
        </div>
        <div class="card text-white bg-secondary mb-3">
          <img src="../assets/img/10.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Autorretrato fotográfico conceptual.</h5>
            <p class="card-text">Aprende a crear fotografías con un toque pictórico y a darles vida en postproducción.</p>
            <p>Un curso de Krishna VR.</p>
            <p>Idioma Español</p>
            <h5 class="card-title">MX$ 189.</h5>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Comprar</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card text-white w-100 bg-dark">
    <div class="card-body">
      <h5 class="card-title">Diseño.</h5>
      <div class="card-group">
        <div class="card text-white bg-secondary mb-3">
          <img src="../assets/img/11.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Introducción a Adobe Photoshop.</h5>
            <p class="card-text">Aprende Adobe Photoshop desde cero y domina el mejor software de tratamiento, retoque y creación de imágenes digitales del mercado.</p>
            <p>Un curso de Carles Marsal.</p>
            <p>Idioma Español</p>
            <h5 class="card-title">MX$ 189.</h5>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Comprar</button>
          </div>
        </div>
        <div class="card text-white bg-secondary mb-3">
          <img src="../assets/img/12.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Introducción a Adobe InDesign.</h5>
            <p class="card-text">Aprende Adobe InDesign sin conocimientos previos y domina el software líder para el diseño editorial impreso y digital.</p>
            <p>Un curso de Javier Alcaraz.</p>
            <p>Idioma Español</p>
            <h5 class="card-title">MX$ 189.</h5>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Comprar</button>
          </div>
        </div>
        <div class="card text-white bg-secondary mb-3">
          <img src="../assets/img/13.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Adobe Illustrator para diseño gráfico.</h5>
            <p class="card-text">Aprende a utilizar Illustrator para desarrollar cualquier proyecto de diseño gráfico desde cero.</p>
            <p>Un curso de Valeria Dubin.</p>
            <p>Idioma Español</p>
            <h5 class="card-title">MX$ 209.</h5>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Comprar</button>
          </div>
        </div>
        <div class="card text-white bg-secondary mb-3">
          <img src="../assets/img/14.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Diseño, desarrollo y publicación de una página web.</h5>
            <p class="card-text">Haz un recorrido completo por el proceso de creación y publicación de una web usando HTML, CSS y JavaScript.</p>
            <p>Un curso de Javier Usobiaga Ferrer.</p>
            <p>Idioma Español</p>
            <h5 class="card-title">MX$ 359.</h5>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Comprar</button>
          </div>
        </div>
        <div class="card text-white bg-secondary mb-3">
          <img src="../assets/img/15.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Principios de diseño para presentaciones.</h5>
            <p class="card-text">Aprende a diseñar presentaciones únicas y eficientes desde cero.</p>
            <p>Un curso de Katya Kovalenko.</p>
            <p>Idioma Ingles</p>
            <h5 class="card-title">MX$ 359.</h5>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Comprar</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card text-white w-100 bg-dark">
    <div class="card-body">
      <h5 class="card-title">3D y Animacion.</h5>
      <div class="card-group">
        <div class="card text-white bg-secondary mb-3">
          <img src="../assets/img/16.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Introducción al diseño de personajes para animación y videojuegos.</h5>
            <p class="card-text">Aprende un método sencillo para dibujar personajes memorables.</p>
            <p>Un curso de Jean Fraisse.</p>
            <p>Idioma Español</p>
            <h5 class="card-title">MX$ 209.</h5>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Comprar</button>
          </div>
        </div>
        <div class="card text-white bg-secondary mb-3">
          <img src="../assets/img/17.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Introducción a Cinema 4D.</h5>
            <p class="card-text">Aprende 3D desde cero para crear figuras y animaciones únicas y renderiza con OctaneRender.</p>
            <p>Un curso de Francisco Cabezas.</p>
            <p>Idioma Español</p>
            <h5 class="card-title">MX$ 189.</h5>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Comprar</button>
          </div>
        </div>
        <div class="card text-white bg-secondary mb-3">
          <img src="../assets/img/18.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Ilustraciones animadas frame a frame.</h5>
            <p class="card-text">Aprende a dar vida a tus ilustraciones paso a paso con Photoshop, Procreate y After Effects.</p>
            <p>Un curso de Catalina Vásquez.</p>
            <p>Idioma Español</p>
            <h5 class="card-title">MX$ 229.</h5>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Comprar</button>
          </div>
        </div>
        <div class="card text-white bg-secondary mb-3">
          <img src="../assets/img/19.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Introducción al diseño narrativo para videojuegos.</h5>
            <p class="card-text">Aprende a contar historias interactivas e iníciate en el mundo de los videojuegos.</p>
            <p>Un curso de Víctor Ojuel.</p>
            <p>Idioma Español</p>
            <h5 class="card-title">MX$ 229.</h5>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Comprar</button>
          </div>
        </div>
        <div class="card text-white bg-secondary mb-3">
          <img src="../assets/img/20.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Creación de props realistas para videojuegos.</h5>
            <p class="card-text">Aprende desde cero a modelar y texturizar assets en 3D con calidad profesional.</p>
            <p>Un curso de Paula Sánchez-Ferrero Ruiz.</p>
            <p>Idioma Español</p>
            <h5 class="card-title">MX$ 229.</h5>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Comprar</button>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>
    </div>
  </div>