<br>
<div class="card text-white w-100 bg-dark">
    <div class="card-body">
      <h5 class="card-title">Diseño.</h5>
      <div class="card-group">
        <div class="card text-white bg-secondary mb-3">
          <img src="../assets/img/D1.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Introducción a la estrategia de marca.</h5>
            <p class="card-text">Aprende la metodología para crear soluciones estratégicas de marca basándote 100% en el usuario final.</p>
            <p>Un curso de Alejandro Pascalis.</p>
            <p>Idioma Español</p>
            <h5 class="card-title">MX$ 189.</h5>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Comprar</button>
          </div>
        </div>
        <div class="card text-white bg-secondary mb-3">
          <img src="../assets/img/D2.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Diseño de muebles y objetos para principiantes.</h5>
            <p class="card-text">Aprende a diseñar un set de muebles y objetos desde el concepto a la maqueta.</p>
            <p>Un curso de Juan Pablo Fuentes.</p>
            <p>Idioma Español</p>
            <h5 class="card-title">MX$ 249.</h5>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Comprar</button>
          </div>
        </div>
        <div class="card text-white bg-secondary mb-3">
          <img src="../assets/img/D3.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Diseño de marcas con retícula.</h5>
            <p class="card-text">Aprende a utilizar el lenguaje de la geometría para crear marcas memorables.</p>
            <p>Un curso de Christian Pacheco Quijano.</p>
            <p>Idioma Español</p>
            <h5 class="card-title">MX$ 229.</h5>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Comprar</button>
          </div>
        </div>
      </div>
    </div>
</div>

<br>
<div class="card text-white w-100 bg-dark">
    <div class="card-body">
      <div class="card-group">
        <div class="card text-white bg-secondary mb-3">
          <img src="../assets/img/D4.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Introducción a la psicología del color: la narrativa cromática.</h5>
            <p class="card-text">Aprende a comprender el simbolismo del color y crear paletas cromáticas que transmiten emociones.</p>
            <p>Un curso de Sole Otero.</p>
            <p>Idioma Español</p>
            <h5 class="card-title">MX$ 289.</h5>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Comprar</button>
          </div>
        </div>
        <div class="card text-white bg-secondary mb-3">
          <img src="../assets/img/D5.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Introducción al diseño de isotipos.</h5>
            <p class="card-text">Aprende a desarrollar la parte icónica de una marca, desde el concepto a la presentación con tu cliente.</p>
            <p>Un curso de Andrés Ávila.</p>
            <p>Idioma Español</p>
            <h5 class="card-title">MX$ 359.</h5>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Comprar</button>
          </div>
        </div>
        <div class="card text-white bg-secondary mb-3">
          <img src="../assets/img/D6.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Tipografía y Branding: Diseño de un logotipo icónico.</h5>
            <p class="card-text">Aprende a conceptualizar y diseñar un logotipo desde cero.</p>
            <p>Un curso de Pamela Barrón Cobo.</p>
            <p>Idioma Español</p>
            <h5 class="card-title">MX$ 229.</h5>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Comprar</button>
          </div>
        </div>
      </div>
    </div>
</div>


<br>
<div class="card text-white w-100 bg-dark">
    <div class="card-body">
      <div class="card-group">
        <div class="card text-white bg-secondary mb-3">
          <img src="../assets/img/D7.JPG" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Dirección de arte para portadas de discos.</h5>
            <p class="card-text">Aprende a diseñar y a conceptualizar las emociones que transmite la música.</p>
            <p>Un curso de Goste.</p>
            <p>Idioma Español</p>
            <h5 class="card-title">MX$ 249.</h5>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Comprar</button>
          </div>
        </div>
        <div class="card text-white bg-secondary mb-3">
          <img src="../assets/img/D8.JPG" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Portafolio creativo con identidad propia.</h5>
            <p class="card-text">Aprende a documentar, presentar y editar tus proyectos de manera profesional.</p>
            <p>Un curso de Futura.</p>
            <p>Idioma Español</p>
            <h5 class="card-title">MX$ 249.</h5>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Comprar</button>
          </div>
        </div>
        <div class="card text-white bg-secondary mb-3">
          <img src="../assets/img/D9.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Introducción al Human-Centered Design.</h5>
            <p class="card-text">Aprende una metodología para desarrollar soluciones de diseño enfocadas en las personas.</p>
            <p>Un curso de 23 Design.</p>
            <p>Idioma Español</p>
            <h5 class="card-title">MX$ 249.</h5>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Comprar</button>
          </div>
        </div>
      </div>
    </div>
</div>

<br>
<div class="card text-white w-100 bg-dark">
    <div class="card-body">
      <div class="card-group">
        <div class="card text-white bg-secondary mb-3">
          <img src="../assets/img/D10.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Dirección de arte y composición de bodegón.</h5>
            <p class="card-text">Crea la portada de un disco fotografiando objetos cotidianos.</p>
            <p>Un curso de Everything .Is.</p>
            <p>Idioma Español</p>
            <h5 class="card-title">MX$ 289.</h5>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Comprar</button>
          </div>
        </div>
        <div class="card text-white bg-secondary mb-3">
          <img src="../assets/img/D11.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Infografía antibostezos.</h5>
            <p class="card-text">Diseña una infografía de alto impacto sobre las muertes más absurdas.</p>
            <p>Un curso de relajaelcoco.</p>
            <p>Idioma Español</p>
            <h5 class="card-title">MX$ 249.</h5>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Comprar</button>
          </div>
        </div>
        <div class="card text-white bg-secondary mb-3">
          <img src="../assets/img/D12.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Creación de una style guide para apps.</h5>
            <p class="card-text">Aprende a documentar y crear una style guide con Sketch u otro software de diseño UI.</p>
            <p>Un curso de Christian Vizcarra.</p>
            <p>Idioma Español</p>
            <h5 class="card-title">MX$ 229.</h5>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Comprar</button>
          </div>
        </div>
      </div>
    </div>
</div>
