<br>
<div class="card text-white w-100 bg-dark">
    <div class="card-body">
      <h5 class="card-title">3D y Animacion.</h5>
      <div class="card-group">
        <div class="card text-white bg-secondary mb-3">
          <img src="../assets/img/A1.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Animación vectorial estilo cuadro a cuadro con After Effects.</h5>
            <p class="card-text">Crea animaciones con personalidad y estilo artesanal sin utilizar plugins.</p>
            <p>Un curso de Pablo Cuello.</p>
            <p>Idioma Español</p>
            <h5 class="card-title">MX$ 189.</h5>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Comprar</button>
          </div>
        </div>
        <div class="card text-white bg-secondary mb-3">
          <img src="../assets/img/A2.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Introducción al diseño e impresión en 3D.</h5>
            <p class="card-text">Aprende paso a paso el proceso de diseño, modelado e impresión en 3D y da forma a tus ideas.</p>
            <p>Un curso de Agustín "Flowalistik" Arroyo.</p>
            <p>Idioma Español</p>
            <h5 class="card-title">MX$ 249.</h5>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Comprar</button>
          </div>
        </div>
        <div class="card text-white bg-secondary mb-3">
          <img src="../assets/img/A3.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Creación de videojuegos de plataformas con Unity.</h5>
            <p class="card-text">Aprende desde cero a desarrollar un videojuego 2D completo con consejos y trucos profesionales.</p>
            <p>Un curso de Steve Durán.</p>
            <p>Idioma Español</p>
            <h5 class="card-title">MX$ 229.</h5>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Comprar</button>
          </div>
        </div>
      </div>
    </div>
</div>

<br>
<div class="card text-white w-100 bg-dark">
    <div class="card-body">
      <div class="card-group">
        <div class="card text-white bg-secondary mb-3">
          <img src="../assets/img/A4.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Introducción al diseño de personajes en pixel art.</h5>
            <p class="card-text">Crea desde cero personajes para videojuegos en los que el píxel es el protagonista.</p>
            <p>Un curso de Daniel Benítez.</p>
            <p>Idioma Español</p>
            <h5 class="card-title">MX$ 249.</h5>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Comprar</button>
          </div>
        </div>
        <div class="card text-white bg-secondary mb-3">
          <img src="../assets/img/A5.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Creación de historias animadas en bucle.</h5>
            <p class="card-text">Aprende a crear animaciones de personajes cuadro a cuadro con diseños simples.</p>
            <p>Un curso de Pablo Cuello.</p>
            <p>Idioma Español</p>
            <h5 class="card-title">MX$ 429.</h5>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Comprar</button>
          </div>
        </div>
        <div class="card text-white bg-secondary mb-3">
          <img src="../assets/img/A6.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Escultura digital de criaturas fantásticas con ZBrush.</h5>
            <p class="card-text">Aprende técnicas y métodos alternativos de modelado 3D para crear un kraken.</p>
            <p>Un curso de Luis Alberto Gayoso Berrospi.</p>
            <p>Idioma Español</p>
            <h5 class="card-title">MX$ 189.</h5>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Comprar</button>
          </div>
        </div>
      </div>
    </div>
</div>


<br>
<div class="card text-white w-100 bg-dark">
    <div class="card-body">
      <div class="card-group">
        <div class="card text-white bg-secondary mb-3">
          <img src="../assets/img/A7.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Creación de personajes con ZBrush y Cinema4D.</h5>
            <p class="card-text">Aprende, desde cero, a diseñar, modelar y renderizar tus propios personajes.</p>
            <p>Un curso de Zigor Samaniego.</p>
            <p>Idioma Español</p>
            <h5 class="card-title">MX$ 229.</h5>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Comprar</button>
          </div>
        </div>
        <div class="card text-white bg-secondary mb-3">
          <img src="../assets/img/A8.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Diseño de ropa 3D con Marvelous Designer.</h5>
            <p class="card-text">Aprende las herramientas para diseñar, animar y renderizar ropa 3D con estilo.</p>
            <p>Un curso de Futura.</p>
            <p>Idioma Español</p>
            <h5 class="card-title">MX$ 229.</h5>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Comprar</button>
          </div>
        </div>
        <div class="card text-white bg-secondary mb-3">
          <img src="../assets/img/A9.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Diseño de sets en 3D para productos.</h5>
            <p class="card-text">Aprende a crear sets publicitarios en 3D con Cinema 4D.</p>
            <p>Un curso de Alejandro Herrada González.</p>
            <p>Idioma Español</p>
            <h5 class="card-title">MX$ 249.</h5>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Comprar</button>
          </div>
        </div>
      </div>
    </div>
</div>

<br>
<div class="card text-white w-100 bg-dark">
    <div class="card-body">
      <div class="card-group">
        <div class="card text-white bg-secondary mb-3">
          <img src="../assets/img/A10.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Desarrollo de videojuegos shoot ’em up 2D con Unity.</h5>
            <p class="card-text">Aprende a crear un videojuego de disparos con la plataforma de desarrollo líder.</p>
            <p>Un curso de Hernán Espinosa.</p>
            <p>Idioma Español</p>
            <h5 class="card-title">MX$ 189.</h5>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Comprar</button>
          </div>
        </div>
        <div class="card text-white bg-secondary mb-3">
          <img src="../assets/img/A11.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Filtros de realidad aumentada para Instagram y Facebook.</h5>
            <p class="card-text">Aprende a crear con Spark AR Studio tus propios filtros animados y máscaras interactivas.</p>
            <p>Un curso de Paul Brown.</p>
            <p>Idioma Español</p>
            <h5 class="card-title">MX$ 189.</h5>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Comprar</button>
          </div>
        </div>
        <div class="card text-white bg-secondary mb-3">
          <img src="../assets/img/A12.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Ilustración y animación 2D de campañas digitales.</h5>
            <p class="card-text">Aprende a crear diseños en perspectiva isométrica apoyados en un soporte animado.</p>
            <p>Un curso de MODIK.</p>
            <p>Idioma Español</p>
            <h5 class="card-title">MX$ 289.</h5>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Comprar</button>
          </div>
        </div>
      </div>
    </div>
</div>
