<div class="card text-white w-100 bg-dark">
    <div class="card-body">
      <h5 class="card-title">Marketing.</h5>
      <div class="card-group">
        <div class="card text-white bg-secondary mb-3">
          <img src="../assets/img/Ana Marin.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Ana Marin.</h5>
            <p class="card-text">Digital Integration Director en McCann Worldgroup.</p>
          </div>
        </div>
        <div class="card text-white bg-secondary mb-3">
          <img src="../assets/img/Mina Barrios.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Mina Barrios.</h5>
            <p class="card-text">Co-creadora y directora de fotografía en Melon Blanc.</p>
          </div>
        </div>
        <div class="card text-white bg-secondary mb-3">
          <img src="../assets/img/Dot Lung.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Dot Lung</h5>
            <p class="card-text">Mother Of Social Media Dragons.</p>
          </div>
        </div>
        <div class="card text-white bg-secondary mb-3">
          <img src="../assets/img/Julieta Tello.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Julieta Tello</h5>
            <p class="card-text">Entrenador de marketing.</p>
          </div>
        </div>
        <div class="card text-white bg-secondary mb-3">
          <img src="../assets/img/Arantxa & Guille.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Arantxa & Guille</h5>
            <p class="card-text">Marketing Digital.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>

    </div>
  </div>
  
  <div class="card text-white w-100 bg-dark">
    <div class="card-body">
      <h5 class="card-title">Fotografia.</h5>
      <div class="card-group">
        <div class="card text-white bg-secondary mb-3">
          <img src="../assets/img/Nay Jimenez.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Nay Jiménez.</h5>
            <p class="card-text">Fotografa / Directora de arte.</p>
          </div>
        </div>
        <div class="card text-white bg-secondary mb-3">
          <img src="../assets/img/Juanmi Cristobal.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Juanmi Cristóbal.</h5>
            <p class="card-text">Profesor de edición y narrativa audiovisual para cortometrajes.</p>
          </div>
        </div>
        <div class="card text-white bg-secondary mb-3">
          <img src="../assets/img/Dara Scully.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Dara Scully</h5>
            <p class="card-text">Fotografa, Escritora. Autora de 'Animal de nieve' (Caballo de Troya, 2020).</p>
          </div>
        </div>
        <div class="card text-white bg-secondary mb-3">
          <img src="../assets/img/Yeray.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Yeray Martín Perdomo.</h5>
            <p class="card-text">Operador de drones / Director de fotografía / Autónomo con mi productora: "VolandoVoy.TV"​.</p>
          </div>
        </div>
        <div class="card text-white bg-secondary mb-3">
          <img src="../assets/img/Krishna VR.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Krishna VR</h5>
            <p class="card-text">Fotografa y Artista audiovisual.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card text-white w-100 bg-dark">
    <div class="card-body">
      <h5 class="card-title">Diseño.</h5>
      <div class="card-group">
        <div class="card text-white bg-secondary mb-3">
          <img src="../assets/img/Carles Marsal.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Carles Marsal.</h5>
            <p class="card-text">Artista visual e instructor, creación de pintura mate, arte conceptual y otros proyectos de arte digital para la industria del entretenimiento.</p>
          </div>
        </div>
        <div class="card text-white bg-secondary mb-3">
          <img src="../assets/img/Javier Alcaraz.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Javier Alcaraz.</h5>
            <p class="card-text">Director de arte, consultor editorial y de diseño tipográfico.</p>
          </div>
        </div>
        <div class="card text-white bg-secondary mb-3">
          <img src="../assets/img/Valeria Dubin.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Valeria Dubin.</h5>
            <p class="card-text">Dirección de arte, espacios gráficos y estrategia de marca.</p>
          </div>
        </div>
        <div class="card text-white bg-secondary mb-3">
          <img src="../assets/img/Ferrer.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Javier Usobiaga Ferrer.</h5>
            <p class="card-text">Diseñador web con diez años de experiencia.</p>
          </div>
        </div>
        <div class="card text-white bg-secondary mb-3">
          <img src="../assets/img/Katya.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Katya Kovalenko.</h5>
            <p class="card-text">Diseñadora de datos con sede en Barcelona que ayuda a las empresas a comunicarse visualmente, con claridad y más eficazmente.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card text-white w-100 bg-dark">
    <div class="card-body">
      <h5 class="card-title">3D y Animacion.</h5>
      <div class="card-group">
        <div class="card text-white bg-secondary mb-3">
          <img src="../assets/img/Jean.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Jean Fraisse.</h5>
            <p class="card-text">Diseñador de producción para largometraje de animación en el estudio n° 1 de México.</p>
          </div>
        </div>
        <div class="card text-white bg-secondary mb-3">
          <img src="../assets/img/Francisco.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Francisco Cabezas.</h5>
            <p class="card-text">Diseñador 3D generalista & Diseñador Gráfico.</p>
          </div>
        </div>
        <div class="card text-white bg-secondary mb-3">
          <img src="../assets/img/Catalina.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Catalina Vásquez.</h5>
            <p class="card-text">Dirección de arte, espacios gráficos y estrategia de marca.</p>
          </div>
        </div>
        <div class="card text-white bg-secondary mb-3">
          <img src="../assets/img/Ojuel.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Víctor Ojuel.</h5>
            <p class="card-text">Diseñador narrativo.</p>
          </div>
        </div>
        <div class="card text-white bg-secondary mb-3">
          <img src="../assets/img/Paula Sánchez-Ferrero Ruiz.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Paula Sánchez-Ferrero Ruiz.</h5>
            <p class="card-text">Supervisión de entorno 3D y artista de utilería en Elite3D.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>
    </div>
  </div>