<br>
<div class="card text-white w-100 bg-dark">
    <div class="card-body">
      <h5 class="card-title">Fotografia.</h5>
      <div class="card-group">
        <div class="card text-white bg-secondary mb-3">
          <img src="../assets/img/F1.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Retrato fotográfico intimista.</h5>
            <p class="card-text">Descubre una nueva forma de abordar la fotografía de retrato desde una perspectiva cercana y honesta.</p>
            <p>Un curso de Marta Mas Girones(Fotografa especializada en retrato artistico).</p>
            <p>Idioma Español</p>
            <h5 class="card-title">MX$ 229.</h5>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Comprar</button>
          </div>
        </div>
        <div class="card text-white bg-secondary mb-3">
          <img src="../assets/img/F2.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Dirección de modelos para fotografía.</h5>
            <p class="card-text">Aprende el arte de dirigir personas para tus fotografías de moda y retratos.</p>
            <p>Un curso de Eduardo Gómez (Alter Imago) Especialista en retrato y fotografia artistica.</p>
            <p>Idioma Español</p>
            <h5 class="card-title">MX$ 229.</h5>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Comprar</button>
          </div>
        </div>
        <div class="card text-white bg-secondary mb-3">
          <img src="../assets/img/F3.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Guía práctica para aprender a manejar tu cámara digital desde cero.</h5>
            <p class="card-text">Domina los parámetros básicos de cualquier cámara digital y desarrolla tu creatividad a través de la fotografía.</p>
            <p>Un curso de  Antonio Garci (Fotografo Profesional).</p>
            <p>Idioma Español</p>
            <h5 class="card-title">MX$ 229.</h5>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Comprar</button>
          </div>
        </div>
      </div>
    </div>
</div>

<br>
<div class="card text-white w-100 bg-dark">
    <div class="card-body">
      <div class="card-group">
        <div class="card text-white bg-secondary mb-3">
          <img src="../assets/img/F4.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Introducción a la fotografía de perros.</h5>
            <p class="card-text">Aprende todos los trucos básicos para fotografiar mascotas como un profesional.</p>
            <p>Un curso de Santos Román (Fotografo profesional de mascotas).</p>
            <p>Idioma Español</p>
            <h5 class="card-title">MX$ 209.</h5>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Comprar</button>
          </div>
        </div>
        <div class="card text-white bg-secondary mb-3">
          <img src="../assets/img/F5.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Introducción a la dirección de fotografía cinematográfica.</h5>
            <p class="card-text">Aprende a expresar las emociones de una historia a través de la luz y la cámara.</p>
            <p>Un curso de David Curto (Director de fotografia).</p>
            <p>Idioma Español</p>
            <h5 class="card-title">MX$ 229.</h5>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Comprar</button>
          </div>
        </div>
        <div class="card text-white bg-secondary mb-3">
          <img src="../assets/img/F6.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Fotografía de moda y retoque digital.</h5>
            <p class="card-text">Crea un editorial de moda desde la idea hasta su publicación en revistas.</p>
            <p>Un curso de Rebeca Saray (Fotografa especialista en moda).</p>
            <p>Idioma Español</p>
            <h5 class="card-title">MX$ 209.</h5>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Comprar</button>
          </div>
        </div>
      </div>
    </div>
</div>


<br>
<div class="card text-white w-100 bg-dark">
    <div class="card-body">
      <div class="card-group">
        <div class="card text-white bg-secondary mb-3">
          <img src="../assets/img/F7.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Introducción a la fotografía newborn.</h5>
            <p class="card-text">Descubre los secretos para fotografiar a recién nacidos de manera profesional.</p>
            <p>Un curso de Le Photograph.</p>
            <p>Idioma Español</p>
            <h5 class="card-title">MX$ 229.</h5>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Comprar</button>
          </div>
        </div>
        <div class="card text-white bg-secondary mb-3">
          <img src="../assets/img/F8.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Fotografía lifestyle para Instagram.</h5>
            <p class="card-text">Aprende a capturar, editar y otorgar un look a tus fotos para consolidar tu marca personal en redes sociales.</p>
            <p>Un curso de  Rafa Bertorini.</p>
            <p>Idioma Español</p>
            <h5 class="card-title">MX$ 229.</h5>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Comprar</button>
          </div>
        </div>
        <div class="card text-white bg-secondary mb-3">
          <img src="../assets/img/F9.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Autorretrato fotográfico artístico.</h5>
            <p class="card-text">Aprende a explorar la fotografía artística siendo tu propio modelo.</p>
            <p>Un curso de Cristina Otero (fotografa especialista en retrato artistico).</p>
            <p>Idioma Español</p>
            <h5 class="card-title">MX$ 229.</h5>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Comprar</button>
          </div>
        </div>
      </div>
    </div>
</div>

<br>
<div class="card text-white w-100 bg-dark">
    <div class="card-body">
      <div class="card-group">
        <div class="card text-white bg-secondary mb-3">
          <img src="../assets/img/F10.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Realización de vídeos musicales low cost.</h5>
            <p class="card-text">Cómo producir y filmar un videoclip profesional con pocos medios.</p>
            <p>Un curso de Juanma Carrillo (Realizador y director de cine).</p>
            <p>Idioma Español</p>
            <h5 class="card-title">MX$ 249.</h5>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Comprar</button>
          </div>
        </div>
        <div class="card text-white bg-secondary mb-3">
          <img src="../assets/img/F11.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Revelado de archivos RAW con Lightroom.</h5>
            <p class="card-text">Aprende a revelar tus fotografías y crear ajustes preestablecidos.</p>
            <p>Un curso de Edu Gómez(Fotografo de belleza y publicidad).</p>
            <p>Idioma Español</p>
            <h5 class="card-title">MX$ 249.</h5>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Comprar</button>
          </div>
        </div>
        <div class="card text-white bg-secondary mb-3">
          <img src="../assets/img/F12.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Fotografía editorial de belleza y retoque digital.</h5>
            <p class="card-text">Aprende los secretos de iluminación, color y postproducción para una sesión de moda.</p>
            <p>Un curso de The Nobody Photography(Fotografo de moda, belleza y publicidad).</p>
            <p>Idioma Español</p>
            <h5 class="card-title">MX$ 249.</h5>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Comprar</button>
          </div>
        </div>
      </div>
    </div>
</div>